<mat-card>
  <mat-card-header>
    <mat-card-actions>
      <button (click)="redirect()" color="primary" mat-raised-button>
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
    </mat-card-actions>
    <div fxFlex></div>
    <p style="font-size: 40px">Customer Details</p>
    <div fxFlex></div>

    <mat-card-actions *ngIf="!editable">
      <button (click)="editMode()" color="primary" mat-raised-button>
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </mat-card-actions>
    <mat-card-actions *ngIf="editable">
      <button (click)="leaveEditMode()" color="primary" mat-raised-button>
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </mat-card-header>
  <!--  <mat-toolbar>Customer Details</mat-toolbar>-->
  <mat-divider></mat-divider>
  <div *ngIf="!editable">
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label">Customer Name: </label>
        <mat-label>{{ customerDetail.customerName }}</mat-label>
      </div>
      <div class="col-md-6">
        <figure>
          <img alt="Photo" src="../../../../assets/avatar.png" style="width: 10%" />
          <figcaption>Customer Picture</figcaption>
        </figure>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label">Customer Number: </label>
        <mat-label>{{ customerDetail.customerNumber }}</mat-label>
      </div>
      <div class="col-md-6">
        <label class="col-form-label">Customer CID: </label>
        <mat-label>{{ customerDetail.customerCID }}</mat-label>
      </div>
      <div class="col-md-6">
        <label class="col-form-label">SIM Purchased Date&Time: </label>
        <mat-label>{{ customerDetail.simPurchasedDateTime }}</mat-label>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-card>

<mat-card *ngIf="!editable">
  <mat-card-header>
    <mat-card-title>Services</mat-card-title>
  </mat-card-header>

  <!--  <table [dataSource]='serviceDetails' class='mat-elevation-z1' mat-table matSort style='cursor: pointer'>-->
  <!--    <ng-container matColumnDef='gsmVoice'>-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header style='text-align: center'>GSM Voice</th>-->
  <!--      <td *matCellDef='let element' mat-cell>-->
  <!--        {{ element.gsmVoice }}-->
  <!--      </td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef='sms'>-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header style='text-align: center'>SMS</th>-->
  <!--      <td *matCellDef='let element' mat-cell>{{ element.sms }}</td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef='3G'>-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header style='text-align: center'>3G</th>-->
  <!--      <td *matCellDef='let element' mat-cell>{{ element.thereG }}</td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef='4G'>-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header style='text-align: center'>4G</th>-->
  <!--      <td *matCellDef='let element' mat-cell>{{ element.fourG }}</td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef='5G'>-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header style='text-align: center'>5G</th>-->
  <!--      <td *matCellDef='let element' mat-cell>{{ element.fiveG }}</td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef='eTeeru'>-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header style='text-align: center'>eTeeru</th>-->
  <!--      <td *matCellDef='let element' mat-cell>{{ element.eTeeru }}</td>-->
  <!--    </ng-container>-->

  <!--    <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>-->
  <!--    <tr *matRowDef='let row; columns: displayedColumns' mat-row></tr>-->
  <!--  </table>-->
</mat-card>

<mat-card *ngIf="editable">
  <form [formGroup]="customerDetailForm" class="form-horizontal form">
    <div class="form-group row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Customer Name</mat-label>
          <input formControlName="customerName" matInput name="customerName" placeholder="Customer Name" />
          <mat-error>Customer Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Customer Number</mat-label>
          <input formControlName="customerNumber" matInput name="customerNumber" placeholder="Customer Number" />
          <mat-error>Customer number is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Customer CID</mat-label>
          <input formControlName="customerCID" matInput name="customerCID" placeholder="Customer CID" />
          <mat-error>Customer CID is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>SIM Purchased Date and Time</mat-label>
          <input
            formControlName="simPurchasedDateTime"
            matInput
            name="simPurchasedDateTime"
            placeholder="SIM Purchased Date and Time"
          />
          <mat-error>SIM Purchased Date and Time is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
<div *ngFor="let service of displayedColumns">
  <form class="form-horizontal form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="form" novalidate>
    <div class="form-group row col-md-2">
      <label>{{ service }}</label>
      <div class="switch-toggle switch-3 switch-candy">
        <input checked="" id="on" name="state-d" type="radio" />
        <label for="on" onclick="">Activate</label>

        <input checked="checked" id="na" name="state-d" type="radio" />
        <label for="na" onclick="">Deactivate</label>

        <input id="off" name="state-d" type="radio" />
        <label for="off" onclick="">Suspend</label>
      </div>
    </div>
  </form>
</div>
