<div class="col-md-12 col-lg-12 custom-example">
  <mat-card-header class="p-3 pl-lg-0">
    <mat-card-title>Patient Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group row">
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6">Patient ID</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.patientId }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6">Ear Tag No.</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.earTagNumber }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6">Microchip No.</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.microchipNumber }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6">Pet Registration No.</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.petRegistrationNumber }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6">Animal Name</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.animalName }}</mat-label>
      </div>
    </div>
  </mat-card-content>
  <mat-card-header class="p-3 pl-lg-0">
    <mat-card-title>Owner Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group row">
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Citizenship ID No.</mat-label>
        <mat-label class="col-lg-6"> {{ registeredDetails?.cidNumber }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Name</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.ownerName }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Dzongkhag</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.dzongkhag['dzongkhagName'] }}</mat-label>
      </div>
      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Gewog</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.gewog['gewogName'] }}</mat-label>
      </div>

      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Locality</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.locality }}</mat-label>
      </div>

      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Mobile Number</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.mobileNumber }}</mat-label>
      </div>

      <div appearance="outline" class="col-lg-4 col-md-12 margin-bottom">
        <mat-label class="col-lg-6"> Email</mat-label>
        <mat-label class="col-lg-6">{{ registeredDetails?.emailId }}</mat-label>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="align-center">
    <button (click)="treatmentDetails()" color="primary" mat-raised-button>Type of Service</button>
  </mat-card-actions>
</div>
<treatment-registration *ngIf="showDetails" [registrationDetails]="registeredDetails"></treatment-registration>
