@import "../../../theme/theme-variables";
@import "../../styles/colors";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: #ff0000;
}

.login-button {
  background-color: #565554;
  color: #fff;
}
